<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace对应mapper接口的全类型 -->
<mapper namespace="com.ren.mybatis_plus.mapper.UserMapper">
    <!-- sql语句填写区 例：<select id="mapper接口中的方法" resultType="数据类型全类名/别名">sql语句</select>-->

    <!-- Map<String, Object> selectMapById(@Param("id") Long id); -->
    <select id="selectMapById" resultType="map">
        SELECT uid, user_name, age, email
        FROM t_user
        WHERE uid = #{id}
    </select>

    <!-- Page<User> selectPageVo(Page<User> page,Integer age); -->
    <select id="selectPageVo" resultType="User">
        SELECT uid, user_name, age, email
        FROM t_user
        WHERE age > #{age}
    </select>
</mapper>
